<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 Page Not Found</title>
    <style>
        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            display: grid;
            place-items: center;
            width: 95vw;
            height: 95vh;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>La página que buscas no se encuentra</h1>
        <hr>
        <a href="/">Inicio</a>
    </div>
</body>
</html>